.centerblock__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 51px;
}

.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  display: flex;
  flex-direction: column;
}

.filter__button-active {
  border-color: #8a29f1;
  color: #8a29f1;
  cursor: pointer;
}

.filter__button:not(:last-child) {
  margin-right: 10px;
}
.filter__button-active:hover {
  border-color: #8a29f1;
  color: #8a29f1;
}

.button-author-active {
  border: none;
}

.filter__list {
  margin-top: 10px;
  position: absolute;
  background-color: #313131;
  height: 200px;
  width: 300px;
  padding: 10px;
  border-radius: 15px;
  overflow-y: scroll;
  padding-left: 15px;
}

.filter__list::-webkit-scrollbar {
  width: 10px;
}

.filter__list::-webkit-scrollbar-track {
  background: rgb(145, 144, 143);
}

.filter__list::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  border: 3px solid rgb(145, 144, 143);
}

.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
}

.filter__link:hover {
  color: #8a29f1;
  text-decoration-line: underline;
}
